<?xml version="1.0" encoding="utf-8" ?>
<!--
	Cookie configuration.
	<domainName>:
		Specifies the domain name of the cookie. 
		
	<expiresAfter>
		Specifies how long the cookie shall expire. 
		The value is in the format of "dddd.HH:mm:ss", where
			dddd	-	four digits of days, 
			HH		-	two digits of hours
			mm		-	two digits of minutes
			ss		-	two digits of seconds
		If the cookie is a session cookie (i.e. expires after the session
		is closed), set the value to "0000.00:00:00".
		
	<hasSubKey>
		Specifies if the cookie info is rendered in the html for the js runtime.
	
	!!! MODIFY WITH CAUTION !!!
-->
<cookieConfig xmlns="http://www.YinTai.com/cookie" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <cookie name="Login" domain="" path="/" expiresAfter="00.02:00:00" secureOnly="false" hasSubKey="true"/>
</cookieConfig>
