<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="LoggingProvider" type="DotNet.Common.Logging.ProviderConfigurationSection,DotNet.Common"/>
  </configSections>

  <LoggingProvider defaultProvider="Log4NetLogProvider">
    <providers>
      <add name="Log4NetLogProvider" type="DotNet.Common.Logging.Log4NetLogProvider" loggername="LogToSqlite" />
    </providers>
  </LoggingProvider>
  
  <system.serviceModel>    
    <client>
      <endpoint address="net.tcp://118.244.128.46:3721/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="netTcpBind"
         contract="DotNet.SpiderApplication.Contract.ICalculator"
        name="calculatorservice">
      </endpoint>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBind">
          <security mode="None">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
<startup>
  <supportedRuntime version="v2.0.50727"/>
</startup>
</configuration>
