<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://118.244.128.46/client/AutoUpdateService.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="AutoUpdater.dll" lastver="1.0.4.17" size="11913728" />
  </UpdateFileList>
</Config>