<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ConfigSettings" type="DotNet.Common.Configuration.ConfigSettings, DotNet.Common"/>
	</configSections>

	<!-- 
		extensions:
			系统会先搜索扩展名为.config配置文件，然后再搜索扩展名为.xml配置文件
			Website.config / Website.xml 认为是同一个文件，优先匹配Website.config
	-->
  <ConfigSettings defaultProvider="XmlConfig">
    <providers>
      <add name="XmlConfig" type="DotNet.Common.Configuration.XmlConfig.XmlConfigSource, DotNet.Common" />
      <add name="DotNetConfig" type="DotNet.Common.Configuration.DotNetConfig.DotNetConfigSource, DotNet.Common" />
      <add name="DataSetXmlConfig" type="DotNet.Common.Configuration.DataSetXmlConfig.DataSetXmlConfigSource, DotNet.Common" />
    </providers>
  </ConfigSettings>
	
</configuration>