<?xml version="1.0"?>
<!--
1.<Database name="PageSetup" retryTimes="3">
name表示上面的datacommand的connectionStringName
retryTimes：单个连接字符串允许尝试次数，如果为1，则只尝试一次就会跳到下一个连接字符串。
providerFactoryName:SqlServer,Sqlite,Access
2.<dbType name="Query">
 name 为Query这个表示querydb，为Transaction表示centredb。这个对应上面datacommand的databaseType。
3.<ConnectionString></ConnectionString>这个可以有多个，一个执行不通过时候会继续访问下一个一直到最后访问完为止。
-->
<ConnectionStrings>

  <Database name="SqliteData" retryTimes="3" providerFactoryName="Sqlite" isSupportStoredProcedure="false">
    <dbType name="Query">
      <ConnectionString><![CDATA[Data Source=|DataDirectory|\Data.db]]></ConnectionString>
    </dbType>
    <dbType name="Transaction">
      <ConnectionString><![CDATA[Data Source=|DataDirectory|\Data.db]]></ConnectionString>
    </dbType>
  </Database>
</ConnectionStrings>
