<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<webParams>
  <!--Common-->
  <params key="BaseUrl" text="http://118.244.128.46/Client/" comment="生成自动更新的基地址"/>
  <params key="demo1" text="D:\SkyDrive\FileSync\DotNetFramework\DotNet.SpiderApplication.Client\bin\Release\DotNet.SpiderApplication.Client.exe"/>
  <params key="test" text="中的分隔符" comment="页面title中的分隔符"/>
  <params key="Key" text=")O[NB]6,YF}+efcaj{+oESb9d8>Z'e9M" comment="页面title中的分隔符"/>
  <params key="IV" text="L+\~f4,Ir)b$=pkf" comment="页面title中的分隔符"/>
  <params key="Day" text="26" comment="每个月的那一天"/>
  <params key="SessionTimeout" text="0.5" comment="超时时间"/>
</webParams>
 
