<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!--日志记录组建配置-->
  <log4net>

    <!--<logger name="FileLogger">
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>-->

    <logger name="LogToSqlite">
      <level value="ALL"/>
      <appender-ref ref="ADONetAppender"/>
    </logger>

    <!-- Console部分log输出格式的设定 -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>



    <!-- 日志文件部分log输出格式的设定 -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Log_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="------------------------------------------------------------&#xD;&#xA;" />
        <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>

    <!-- 数据库记录日志 -->
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <!--BufferSize为缓冲区大小-->
      <bufferSize value="100" />

      <!--<param name="BufferSize" value="2" />-->
      <!--引用-->
      <connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.79.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <!--连接字符串-->
      <connectionString value="Data Source=D:\\SkyDrive\\FileSync\\DotNetFramework\\DotNet.SpiderApplication\\Data.db" />
      <!--插入语句-->
      <commandText value="insert into [Log2] ([Author],[LogDate],[Log_Level],[Message],[Location],[Exception]) Values(@Author,@Date,@Level,@Message,@Location,@Exception);" />
      <commandType value="Text"/>
      <!--操作者,暂时没用到-->
      <parameter>
        <parameterName value="@Author" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Operator}" />
        </layout>
      </parameter>
      <!--记录时间-->
      <parameter>
        <parameterName value="@Date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <!--日志等级-->
      <parameter>
        <parameterName value="@Level" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <!--异常消息-->
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <!--异常位置-->
      <parameter>
        <parameterName value="@Location" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%location" />
        </layout>
      </parameter>
      <!--错误-->
      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%exception" />
        </layout>
      </parameter>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <!--<root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </root>-->
  </log4net>
</configuration>