<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="LoggingProvider" type="DotNet.Common.Logging.ProviderConfigurationSection,DotNet.Common"/>
  </configSections>

  <LoggingProvider defaultProvider="Log4NetLogProvider">
    <providers>
      <add name="Log4NetLogProvider" type="DotNet.Common.Logging.Log4NetLogProvider" loggername="FileLogger" />
    </providers>
  </LoggingProvider>
  
</configuration>

