<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="CommonSpider"
                address="net.pipe://127.0.0.1/GetSpiderTask"
                binding="netNamedPipeBinding"
                contract="DotNet.SpiderApplication.Contract.WCF.ICommonSpider"/>
      <endpoint name="ISpiderClientToManageClient"
                address="net.pipe://127.0.0.1/Server"
                binding="netNamedPipeBinding"
                contract="DotNet.SpiderApplication.Contract.WCF.ISpiderClientToManageClient"/>
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="myBinding"
          maxBufferSize="655360000"
          maxConnections="10"
          maxReceivedMessageSize="655360000"
          receiveTimeout="00:01:00"
          transactionFlow="false">
          <security mode="Transport">
          </security>
        </binding>
      </netNamedPipeBinding>

    </bindings>
  </system.serviceModel>
</configuration>
