<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="LoggingProvider" type="DotNet.Common.Logging.ProviderConfigurationSection,DotNet.Common"/>
  </configSections>

  <LoggingProvider defaultProvider="Log4NetLogProvider">
    <providers>
      <add name="Log4NetLogProvider" type="DotNet.Common.Logging.Log4NetLogProvider" loggername="LogToSqlite" />
    </providers>
  </LoggingProvider>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="exposeExceptionDetail">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="DotNet.SpiderApplication.Service.CalculatorService" behaviorConfiguration="exposeExceptionDetail">
        <endpoint address="net.tcp://127.0.0.1:3721/calculatorservice" 
                  binding="netTcpBinding" 
                  bindingConfiguration="netTcpBind" 
                  contract="DotNet.SpiderApplication.Contract.ICalculator"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBind">
          <security mode="None">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
</configuration>

