<?xml version="1.0" encoding="utf-8" ?>

<listConfig xmlns="http://www.YinTai.com/Language"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<listGroup name="Demo1">
		<listItem text="男" value="male"/>
		<listItem text="女" value="femal"/>
		<listItem text="未知" value="unknown" isSelected="true"/>
	</listGroup>
	<listGroup name="Demo2">
		<listItem text="好" value="1"  isSelected="true"/>
		<listItem text="一般" value="2"/>
		<listItem text="差" value="3"/>
	</listGroup>
	<listGroup name="SiteMapGroup">
		<listItem text="关于金牛" value="SiteMap1"/>
		<listItem text="新手上路" value="SiteMap2"/>
		<listItem text="货款规则" value="SiteMap3"/>
		<listItem text="配送服务" value="SiteMap4"/>
		<listItem text="销售服务" value="SiteMap5"/>
		<listItem text="会员服务" value="SiteMap6"/>
	</listGroup>
	<listGroup name="SiteMap1">
		<listItem text="公司介绍" value="101"/>
		<listItem text="企业文化" value="102"/>
		<listItem text="联系我们" value="103"/>
		<listItem text="友情链接" value="104"/>
	</listGroup>
	<listGroup name="SiteMap2">
		<listItem text="首次注册" value="201"/>
		<listItem text="积分返利" value="202"/>
		<listItem text="购买指南" value="203"/>
		<listItem text="网站地图" value="204"/>
	</listGroup>
	<listGroup name="SiteMap3">
		<listItem text="支付方式" value="301"/>
		<listItem text="支付规则" value="302"/>
		<listItem text="网上银行" value="303"/>
		<listItem text="发票管理" value="304"/>
	</listGroup>
	<listGroup name="SiteMap4">
		<listItem text="免费送货" value="401"/>
		<listItem text="配送方式" value="402"/>
		<listItem text="运费核定" value="403"/>
		<listItem text="运费支付" value="404"/>
	</listGroup>
	<listGroup name="SiteMap5">
		<listItem text="商品退换" value="501"/>
		<listItem text="售后服务" value="502"/>
		<listItem text="质量投诉" value="503"/>
		<listItem text="免责条款" value="504"/>
	</listGroup>
	<listGroup name="SiteMap6">
		<listItem text="金牛会员" value="701"/>
		<listItem text="金牛分销商" value="702"/>
		<listItem text="分销商发展" value="703"/>
		<listItem text="分销商分布" value="704"/>
	</listGroup>
	<listGroup name="FooterNav">
		<listItem text="制冷论坛" value="101"/>
		<listItem text="服务条款" value="101"/>
		<listItem text="友情链接" value="104"/>
		<listItem text="联系我们" value="103"/>
	</listGroup>
	<listGroup name="SortMethod">
		<listItem text="按默认排序" value="0"/>
		<listItem text="按照销量从高到低" value="1"/>
		<listItem text="按照上架时间从新到旧" value="6"/>
		<listItem text="按照价格从低到高" value="2"/>
		<listItem text="按照价格从高到低" value="3"/>
		<!--<listItem text="折扣 由高到低" value="4"/>
    <listItem text="折扣 由低到高" value="5"/>
    <listItem text="上架时间 由近到远" value="6"/>
    <listItem text="上架时间 由远到近" value="7"/>-->
	</listGroup>

	<listGroup name="DisplayTimedSelected">
		<listItem text="按商品分类筛选" value="0"/>
		<listItem text="服装" value="1"/>
		<listItem text="美妆" value="4"/>
		<listItem text="运动" value="5"/>
		<listItem text="鞋包" value="6"/>
		<listItem text="手表/眼镜" value="7"/>
		<listItem text="珠宝首饰" value="8"/>
		<listItem text="办公" value="16"/>
		<listItem text="童装" value="17"/>
		<listItem text="床上用品" value="18"/>
	</listGroup>

	<listGroup name="ProductRate">
		<listItem text="很差" value="rate/rate01.gif"/>
		<listItem text="较差" value="rate/rate02.gif"/>
		<listItem text="一般" value="rate/rate03.gif"/>
		<listItem text="良好" value="rate/rate04.gif"/>
		<listItem text="优秀" value="rate/rate05.gif"/>
	</listGroup>
	<listGroup name="TicketStatus">
		<listItem text="未使用" value="1"/>
		<listItem text="商城作废" value="2"/>
		<listItem text="过期" value="3"/>
		<listItem text="已使用" value="4"/>
	</listGroup>
	<listGroup name="PromotionsCodeUsageType">
		<listItem text="A券" value="1"/>
		<listItem text="B券" value="2"/>
	</listGroup>
	<listGroup name="OrderStatus">
		<listItem text="全部订单" value="-1"/>
		<listItem text="待确认" value="1"/>
		<listItem text="待用户确认" value="5"/>
		<listItem text="待审核" value="10"/>
		<listItem text="待信用检查" value="13"/>
		<listItem text="待回款检查" value="17"/>
		<listItem text="已审核" value="20"/>
		<listItem text="已出库" value="25"/>
		<listItem text="已发货" value="30"/>
		<listItem text="已收款" value="40"/>
		<listItem text="交易完成" value="50"/>
		<listItem text="用户作废" value="9998"/>
		<listItem text="平台作废" value="9999"/>
	</listGroup>
	<listGroup name="OrderFrontStatus">
		<listItem text="取消" value="-100"/>
		<listItem text="等待配货" value="-10"/>
		<listItem text="待审核" value="0"/>
    <listItem text="待审核" value="5"/>
		<listItem text="审核通过" value="10"/>
		<listItem text="等待配货" value="20"/>
		<listItem text="配货中" value="30"/>
		<listItem text="已出库" value="40"/>
		<listItem text="已发货" value="100"/>
		<listItem text="已送达" value="200"/>
		<listItem text="未送达" value="201"/>
		<listItem text="拒收" value="202"/>
		<listItem text="交易成功" value="300"/>
		<listItem text="交易失败" value="301"/>
	</listGroup>
	<listGroup name="SOOrderStatus">
		<listItem text="待确认" value="1"/>
		<listItem text="待用户确认" value="5"/>
		<listItem text="待审核" value="10"/>
		<listItem text="待信用检查" value="13"/>
		<listItem text="待回款检查" value="17"/>
		<listItem text="已审核" value="20"/>
		<listItem text="已出库" value="25"/>
		<listItem text="已发货" value="30"/>
		<listItem text="已收款" value="40"/>
		<listItem text="交易完成" value="50"/>
		<listItem text="用户作废" value="9998"/>
		<listItem text="平台作废" value="9999"/>
	</listGroup>
	<listGroup name="ProductRateLevel">
		<listItem text="5星" value="4"/>
		<listItem text="4星" value="3"/>
		<listItem text="3星" value="2"/>
		<listItem text="2星" value="1"/>
		<listItem text="1星" value="0"/>
	</listGroup>
	<listGroup name="ProductQuestionType">
		<listItem text="尺码问题" value="3"/>
		<listItem text="使用方法" value="2"/>
		<listItem text="商品材质" value="1"/>
		<listItem text="其他" value="0"/>

	</listGroup>

	<listGroup name="CommentSubjectType">
		<listItem text="经验" value="2"/>
		<listItem text="讨论" value="1"/>
	</listGroup>

	<listGroup name="AdvLevel">
		<listItem text="red" value="3"/>
		<listItem text="blue" value="2"/>
		<listItem text="" value="1"/>
	</listGroup>

  <listGroup name="RMAReasonCode">
    <listItem text="请选择..." value=""/>
    <listItem text="顾客拒收" value="012"/>
    <listItem text="错发商品" value="003"/>
    <listItem text="商品与网站介绍不符" value="011"/>
    <listItem text="货品不全/缺少配件" value="008"/>
    <listItem text="商品质量问题" value="001"/>
    <listItem text="包装破损" value="002"/>
    <listItem text="客户误订" value="005"/>
    <listItem text="尺码不符" value="006"/>
    <listItem text="色差偏大" value="015"/>
    <listItem text="无理由退换货" value="016"/>
    <listItem text="未送达" value="014"/>
  </listGroup>

  <listGroup name="RMAType">
    <listItem text="退货" value="1"/>
    <listItem text="换货" value="2"/>
  </listGroup>
  <listGroup name="RMAStatus">
    <listItem text="待审核" value="0"/>
    <listItem text="审核通过" value="100"/>
    <listItem text="完成" value="200"/>
    <listItem text="作废" value="300"/>
    <listItem text="审核未通过" value="400"/>
    <listItem text="质检未通过" value="600"/>
    <listItem text="仓库已经收货" value="700"/>
    <listItem text="质检通过" value="800"/>
    <listItem text="客服同意" value="900"/>
    <listItem text="财务审核未通过" value="902"/>
    <listItem text="客服再次确认" value="904"/>
    <listItem text="客服不同意" value="903"/>
    <listItem text="货品退还" value="905"/>
  </listGroup>

  <listGroup name="TopPost">
		<listItem text="置顶" value="0"/>
		<listItem text="不置顶" value="1"/>
	</listGroup>

	<listGroup name="NoticeProcessStatus">
		<listItem text="已通知" value="Notified"/>
		<listItem text="未通知" value="NotNotified"/>
	</listGroup>

	<listGroup name="SearchInResult">
		<listItem text="全部" value="0"/>
		<listItem text="最近一周" value="1"/>
		<listItem text="最近一个月" value="2"/>
	</listGroup>

	<listGroup name="ShoppingCarOrderGift">
		<listItem text="单笔价格满1.00元" value="1"/>
		<listItem text="单笔金额满5.00元" value="5"/>
	</listGroup>

	<listGroup name="EvaluateType">
		<listItem text="所有" value="0"/>
		<listItem text="好评" value="1"/>
		<listItem text="中评" value="2"/>
		<listItem text="差评" value="3"/>
	</listGroup>

	<listGroup name="IdentityCardType">
		<listItem text="身份证" value="1"/>
		<listItem text="军官证" value="2"/>
		<listItem text="其它证件" value="3"/>
	</listGroup>
	<listGroup name="FeaturedItemType">
		<listItem text="最新推荐" value="1"/>
		<listItem text="特价商品" value="2"/>
		<listItem text="季节热销" value="3"/>
	</listGroup>
	<listGroup name="SaleStatus">
		<listItem text="常用" value="501" />
		<listItem text="热销" value="502" />
		<listItem text="少用" value="503" />
		<listItem text="预定" value="504" />
		<!--
    SaleStatus（需要注意销售状态前台只显示常用、热销、少见、预定四种状态）
    见BUG:2259
    <listItem text="试销" value="505" />
		<listItem text="滞销" value="506" />
		<listItem text="呆销" value="507" />
		<listItem text="停销" value="508" />-->
	</listGroup>
	<listGroup name="UserObject">
		<listItem text="生产" value="1" />
		<listItem text="工程" value="2" />
		<listItem text="维修" value="3" />
		<listItem text="综合" value="4" />
	</listGroup>
	<listGroup name="CustomerLevel">
		<listItem text="钻石卡会员" value="4"/>
		<listItem text="金卡会员" value="3"/>
		<listItem text="银卡会员" value="2"/>
	</listGroup>
	<listGroup name="CustomerRank">
		<listItem text="全部" value="0"/>
		<listItem text="银泰网会员" value="1"/>
		<listItem text="VIP普卡会员" value="2"/>
		<listItem text="VIP银卡会员" value="3"/>
		<listItem text="VIP金卡会员" value="4"/>
	</listGroup>


	<listGroup name="CustomerRankCommentShow">
		<listItem text="全部" value="0"/>
		<listItem text="银泰网会员" value="1"/>
		<listItem text="VIP普卡" value="2"/>
		<listItem text="VIP银卡" value="3"/>
		<listItem text="VIP金卡" value="4"/>
	</listGroup>

	<listGroup name="SOShippingTime">
		<listItem text="工作日、双休日与假日均可送货" value="工作日、双休日与假日均可送货"/>
		<listItem text="只双休日、假日送货（工作日不用送）" value="只双休日、假日送货（工作日不用送）"/>
		<listItem text="只工作日送货（双休日、假日不用送）" value="只工作日送货（双休日、假日不用送）"/>
		<listItem text="学校地址 / 地址白天没人，请尽量安排其他时间送货" value="学校地址 / 地址白天没人，请尽量安排其他时间送货"/>
	</listGroup>

	<!--<listGroup name="CustomerLevel">
        <listItem text="head/head1.gif" value="5"/>
        <listItem text="head/head1.gif" value="4"/>
        <listItem text="head/head1.gif" value="3"/>
        <listItem text="head/head2.gif" value="2"/>
        <listItem text="head/head3.gif" value="1"/>
    </listGroup>-->

  <listGroup name="MyAccountPositions">
    <listItem text ="首页" value ="Home"/>
    <listItem text ="我的银泰" value ="Myhome"/>
    <listItem text ="订单处理" value ="MyOrderList"/>
    <listItem text ="历史订单" value ="MyHisOrderList"/>
    <listItem text ="订单详情" value ="MyOrderDetail"/>
    <listItem text ="支付记录" value ="PaymentLog"/>
    <listItem text ="我的积分" value ="MyScore"/>
    <listItem text ="积分兑换记录" value ="MyScoreBuy"/>
    <listItem text ="我的优惠券" value ="MyPromotionCode"/>
    <listItem text ="礼券使用记录" value ="MyTicketHistory"/>
    <listItem text ="我的余额" value ="MyAccountBalance"/>
    <listItem text ="我的银元" value ="MyAccountCoin"/>
    <listItem text ="我的团购" value ="MyGroupBuy"/>
    <listItem text ="短消息" value ="MyMessage"/>
    <listItem text ="我的评论" value ="MyComment"/>
    <listItem text ="评论添加" value ="ProductComment"/>
    <listItem text ="我的咨询" value ="MyQuestion"/>
    <listItem text ="手机验证" value ="MyValidateMobile"/>
    <listItem text ="个人信息" value ="MyPersonalInfo"/>
    <listItem text ="收货地址" value ="MyShippingAddress"/>
    <listItem text ="修改密码" value ="ChangePasswordStep1"/>
    <listItem text ="个性化设置" value ="MyCustomSetting"/>
    <listItem text ="储藏架" value ="MyFavorite"/>
    <listItem text ="退换货记录" value ="RMAList"/>
    <listItem text ="退换货申请" value ="RMAAdd"/>
    <listItem text="邮件订阅"  value="RSSMail"/>
    <listItem text="银泰实体店会员等级导入"  value="EntityVipHandle"/>
    <listItem text="邀请好友送银元"  value="MyInvite"/>
    <listItem text="邀请好友" value="InviteHome" />
    <listItem text="邀请好友" value="InviteFriends" />
    <listItem text="邀请好友历史" value="InviteFriendsHistory" />
    <listItem text="邀请好友成功" value="InviteSuccess" />
    <listItem text="我的银泰卡" value="MyCardList" />
    <listItem text="我的银元" value="MyCardActivate" />
    <listItem text="我的银元" value="MyCardCharge" />
    <listItem text="我的银元" value="MyCardChargeMoney" />
    <listItem text="我的银元" value="MyCardChargeSuccess" />
    <listItem text="我的银元" value="MyExperienceCard" />
    <listItem text="修改地址" value="EditeOrderAddress" />
    <listItem text="修改支付银行" value="EditeOrderPayment" />
    <listItem text="我的满返优惠券" value="MyReturnTicket" />
    <!--<listItem text ="退换货详情" value =""/>-->
  </listGroup>

	<listGroup name ="UserBalanceSourceType">
		<listItem text ="订单支付" value ="1"/>
		<listItem text ="订单支付" value ="2"/>
		<listItem text ="商品返利" value ="3"/>
		<listItem text ="订单退款" value ="4"/>
		<listItem text ="订单退款" value ="5"/>
		<listItem text ="订单取消返回" value ="6"/>
		<listItem text ="订单退款" value ="7"/>
		<listItem text ="订单退款" value ="8"/>
		<listItem text ="订单退货返回" value ="9"/>
		<listItem text ="充值" value ="10"/>
		<listItem text ="客服充值" value ="11"/>
		<listItem text ="用户提现" value ="12"/>
		<listItem text ="客服扣款" value ="13"/>
		<listItem text ="银泰卡充值" value ="14"/>
		<listItem text ="积分兑换银元宝" value ="15"/>
		<listItem text ="客服补偿银元" value ="16"/>
		<listItem text ="体验卡充值" value ="17"/>
		<listItem text ="CEO 新年红包" value ="18"/>
		<listItem text ="商品取消退款" value ="19"/>
		<listItem text ="商品取消退款" value ="20"/>
		<listItem text ="活动返银元" value ="21"/>
		<listItem text ="客服补偿余额" value ="22"/>
		<listItem text ="邀请好友送银元活动" value ="24"/>
		<listItem text ="邀请好友送银元活动" value ="25"/>
		<listItem text ="取消订单扣除返利-银元" value ="26"/>
		<listItem text ="取消订单扣除返利-余额" value ="27"/>
		<listItem text ="商品取消扣除返利-银元" value ="28"/>
		<listItem text ="商品取消扣除返利-余额" value ="29"/>
		<listItem text ="客服扣除余额" value ="30"/>
		<listItem text ="客服扣除银元" value ="31"/>
	</listGroup>

	<!--RMA-->
	<listGroup name ="ProductAppearance">
		<listItem text ="已经使用" value ="0"/>
		<listItem text ="尚未使用" value ="1"/>

	</listGroup>
	<listGroup name ="ProductPage">
		<listItem text ="无包装" value ="0"/>
		<listItem text ="包装破损" value ="1"/>
		<listItem text ="包装完整" value ="2"/>
	</listGroup>

	<listGroup name ="ShipViaCode">
		<listItem text ="EMS" value ="0"/>
		<listItem text ="邮政普包" value ="1"/>
		<listItem text ="其他快递" value ="2"/>
	</listGroup>


	<listGroup name ="VipSentPoint">
		<listItem text ="200" value ="0"/>
		<listItem text ="300" value ="1"/>
		<listItem text ="500" value ="2"/>
		<listItem text ="1000" value ="3"/>
	</listGroup>

	<!--RMA-->
	<listGroup name ="ProductRecommandSales">
		<listItem text ="推荐搭配一" value ="0"/>
		<listItem text ="推荐搭配二" value ="1"/>
		<listItem text ="推荐搭配三" value ="2"/>
		<listItem text ="推荐搭配四" value ="3"/>
		<listItem text ="推荐搭配五" value ="4"/>
	</listGroup>
	<listGroup name ="VipDiscountInfo">
		<listItem text ="推荐搭配一" value ="0"/>
		<listItem text ="推荐搭配二" value ="1"/>
		<listItem text ="推荐搭配三" value ="2"/>
		<listItem text ="推荐搭配四" value ="3"/>
		<listItem text ="推荐搭配五" value ="4"/>
	</listGroup>

	<listGroup name ="OrderMinSendPromotionsCode">
		<listItem text ="107" value ="500"/>
	</listGroup>

	<listGroup name ="InvoiceContent">
		<listItem text ="商品明细" value ="商品明细"/>
		<listItem text ="服装" value ="服装"/>
		<listItem text ="皮具" value ="皮具"/>
		<listItem text ="箱包" value ="箱包"/>
		<listItem text ="化妆品" value ="化妆品"/>
		<!--<listItem text ="电子产品" value ="电子产品"/>-->
		<listItem text ="饰品" value ="饰品"/>
		<listItem text ="家居用品" value ="家居用品"/>
		<listItem text ="珠宝" value ="珠宝"/>
    <listItem text ="鞋" value ="鞋"/>
	</listGroup>

	<listGroup name ="BankPromotionsCode">
		<listItem text ="cmb188188" value ="" comment="银泰网招商银行满500元减200元礼券"/>
		<listItem text ="alipay168168" value ="" comment="银泰网支付宝满200元减80元礼券"/>
		<listItem text ="alipay188188" value ="" comment="银泰网支付宝满500元减200元礼券"/>
		<listItem text ="tenpay200" value ="18" comment="银泰网财付通满200元减80元礼券"/>
		<listItem text ="tenpay500" value ="19" comment="银泰网财付通满500元减200元礼券"/>
		<listItem text ="comm200" value ="" comment="银泰网交通银行满200元减80元礼券"/>
		<listItem text ="comm500" value ="" comment="银泰网交通银行满500元减200元礼券"/>
		<listItem text ="ccb200" value ="10" comment="银泰网建设银行满200元减80元礼券"/>
		<listItem text ="ccb500" value ="11" comment="银泰网建设银行满500元减200元礼券"/>
		<listItem text ="cmbc200" value ="" comment="银泰网民生银行满200元减80元礼券"/>
		<listItem text ="abc168188" value ="115" comment="银泰网农业银行满200元减80元礼券"/>
		<listItem text ="cmb168168" value ="" comment="银泰网招商银行满200元减80元礼券"/>
		<listItem text ="boc500" value ="" comment="银泰网中国银行满500元减200元礼券"/>
		<listItem text ="psbc168188" value ="31" comment="满200元抵80元代金券（elong）"/>
		<listItem text ="chinapay168" value ="" comment="银泰网银联满200元减80元礼券"/>
		<listItem text ="yeepay200" value ="20" comment="银泰网易宝满200元减80元礼券"/>
		<listItem text ="yeepay500" value ="21" comment="银泰网易宝满500元减200元礼券"/>
		<listItem text ="pnr200" value ="22" comment="银泰网汇付满200元减80元礼券"/>
		<listItem text ="ccbxyk18" value ="" comment="银泰网建设银行满200元减80元礼券"/>
		<listItem text ="ccbxyk28" value ="" comment="银泰网建设银行满500元减200元礼券"/>
		<listItem text ="pingan18" value ="15" comment="银泰网平安银行满200元减80元礼券"/>
		<listItem text ="pingan28" value ="16" comment="银泰网平安银行满500元减200元礼券"/>
		<listItem text ="gdfzxyk168" value ="12" comment="银泰网广发银行满200元减80元礼券"/>
		<listItem text ="gdfzxyk188" value ="13" comment="银泰网广发银行满500元减200元礼券"/>
		<listItem text ="jcsx168168" value ="" comment="银泰网京城时讯满500元减200元礼券"/>
		<listItem text ="jcsx188188" value ="" comment="银泰网京城时讯满200元减80元礼券"/>
		<listItem text ="wxxq168188" value ="17" comment="银泰网12580满200元减80元礼券"/>
		<listItem text ="zwxx168168" value ="" comment="银泰网飞信满500元减200元礼券"/>
		<listItem text ="zwxx188188" value ="" comment="银泰网飞信满200元减80元礼券"/>
		<listItem text ="cxkj168188" value ="" comment="银泰网139邮箱满200元减80元礼券"/>
		<listItem text ="imobile500" value ="29" comment="满500元抵200元代金券（手机之家）"/>
		<listItem text ="imobile200" value ="30" comment="满200元抵80元代金券（手机之家）"/>
		<listItem text ="boc200" value ="32" comment="满200元抵80元代金券（途牛）"/>
		<listItem text ="abc168168" value ="33" comment="满200元抵80元代金券（农行）"/>
		<listItem text ="abc188188" value ="34" comment="满500元抵200元代金券（农行）"/>
	</listGroup>
	<listGroup name ="TrackingAddress">
		<listItem text ="1002" value ="http://www.ems.com.cn/"/>
		<listItem text ="1005" value ="http://www.4006688400.com/"/>
        <listItem text ="1006" value ="http://www.fedex.com/cn/"/>
        <listItem text ="1003" value ="http://www.sf-express.com/"/>
        <listItem text ="1004" value ="http://www.zjs.com.cn/"/>
        <listItem text ="1007" value ="http://www.sto-express.com.cn/"/>
        <listItem text ="1008" value ="http://www.yto.net.cn/"/>
     
	</listGroup>
	
	<listGroup name="TrackingName">
		<listItem text ="1002" value ="邮政特快专递EMS"/>
		<listItem text ="1005" value ="星晨急便"/>
        <listItem text ="1006" value ="FedEx 联邦快递"/>
        <listItem text ="1003" value ="顺丰速运"/>
        <listItem text ="1004" value ="宅急送"/>
        <listItem text ="1007" value ="申通E物流"/>
        <listItem text ="1008" value ="圆通速递"/>
	</listGroup>
	<listGroup name ="RMALogisticsCompany">
		<listItem text ="顺丰速运" value ="1"/>
		<listItem text ="申通快递" value ="2"/>
		<listItem text ="EMS快递" value ="3"/>
		<listItem text ="圆通快递" value ="4"/>
		<listItem text ="飞康达快递" value ="5"/>
		<listItem text ="中通快递" value ="6"/>
		<listItem text ="联邦快递" value ="7"/>
		<listItem text ="天天快递" value ="8"/>
		<listItem text ="CCES快递" value ="9"/>
		<listItem text ="其他" value ="100"/>
	</listGroup>
	<!--发放渠道-->
	<listGroup name="PromotionsCodeSendType">
		<listItem text="注册赠券" value="1"/>
		<listItem text="客服赠送优惠券" value="2"/>
		<listItem text="商品送券" value="3"/>
		<listItem text="线下" value="4"/>
		<listItem text="满赠赠券" value="5"/>
		<listItem text="积分换购赠券" value="6"/>
		<listItem text="第三方赠券" value="7"/>
		<listItem text="团购优惠券" value="8"/>
		<listItem text="移动客户端Iphone赠券" value="9"/>
		<listItem text="移动客户端Ipad赠券" value="10"/>
		<listItem text="移动客户端Android赠券" value="11"/>
		<listItem text="移动客户端Wap赠券" value="12"/>
    <listItem text="积分兑换优惠券" value="13"/>
  </listGroup>

  <!--满返优惠券状态-->
  <listGroup name="ReturnTicketStatus">
    <listItem text="等待系统自动发放" value="0"/>
    <listItem text="优惠券已发放" value="1"/>
    <listItem text="作废" value="2"/>
  </listGroup>
  <!--短消息状态-->
  <listGroup name="ShortMessageStatus">
    <listItem text="未读" value="0"/>
    <listItem text="已读" value="1"/>
  </listGroup>
  
   <!--货币符号-->
  <listGroup name="CurrencySymbol">
    <listItem text="$" value="USD"/>
    <listItem text="￡" value="GBP"/>
    <listItem text="AUD" value="AUD"/>
    <listItem text="€" value="EUR"/>
    <listItem text="￥" value="CNY"/>
  </listGroup>

  <listGroup name="ArticleCategoryType">
    <listItem text="默认" value="0"/>
    <listItem text="图文" value="1"/>
  </listGroup>
</listConfig>
